  <header><a href="/">
    <img class="logo" src="/assets/images/dolphin-201212.svg" alt="高中数学资源">
    <h3>高中数学资源</h3></a>
    
    <div class="navigationWrapper navigationSlider">
      <nav class="slidingNav">
      <ul class="nav-site nav-site-internal">
      {% for item in site.data.navigation %}
        <li {% if page.category == item.category %}  class="siteNavGroupActive"{% endif %}>
        <a href="{{ item.link }}">{{ item.name }}</a>
        </li>
      {% endfor %}
      </ul>
      </nav>
    </div>
  </header>