<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  
  <title>{{ page.title }}</title>  
  
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/katex.min.css">
  <link rel="stylesheet" href="/assets/css/hsm.css" type="text/css" media="all">
    
  <script src="/assets/js/vanilla-back-to-top.js"></script>
  <script src="/assets/js/scrollSpy.js"></script>
  
  <script defer src="/assets/js/katex.min.js"></script>
  <script defer src="/assets/js/auto-render.min.js"></script>
  <script src="/assets/js/hsm.js"></script>
</head>