{% for item in site.data.ZHR-records-nav %}
  {% if item.year == page.year %}
    {% for subitem in item.months %}
      <div class="navGroup">
      <h3 class="navGroupCategoryTitle">{{ item.year }} 年 {{ subitem.month }} 月</h3>
      <ul class="">
      {% for subsubitem in subitem.days %}
        {% if page.this-url == subsubitem.link %} 
        <li class="navListItem  navListItemActive" class="navListItem">
        {% else %} 
        <li class="navListItem">
        {% endif %}
          <a class="navItem" href="{{ subsubitem.link }}" >{{ subsubitem.name }}</a>
        </li>
      {% endfor %}
      </ul>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}